/* Estilos principales de la aplicación  */
/* /* Alcance global: Generalmente, se utiliza para estilos globales que afectan a toda la aplicación.
Variables CSS: Puedes definir variables CSS aquí para reutilizarlas en otros archivos.
Normalización: Se incluyen estilos de normalización como Normalize.css o Reset CSS para garantizar una apariencia consistente en diferentes navegadores.
Estilos base: Aquí puedes establecer los estilos básicos para elementos como el cuerpo, encabezados, párrafos, etc. */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

:root {
    /* * Typography */
    /* Agregar grosor bold  titulo*/
    --title-typography: "Be Vietnam Pro", sans-serif;
    /* Agregar grosor regular/normal subtitulo */
    --subtitle-typography: "Be Vietnam Pro", sans-serif;
    /* Agregar grosor regular/normal descripción */
    --description-typography: "Roboto", sans-serif;

    /* *Colors */
    --main-background: linear-gradient(45deg, rgba(237, 30, 121, 0.8) 50%, rgba(110, 57, 233, 0.8));
    --container-background: #101828;
    --color-primary: #ed1e79;
    --color-secondary: #6e39e9;
    --description-color: #DFDDE1;
    --color-about-background: #171831;
    --color-card-background: #282643c9;
    /* *Buttons */
    --btn-size: 1rem;

    /* *Movil */
    --main-margin: 1rem 1rem;
    --main-padding: 1rem 1rem;
    --container-margin: 1rem 0rem;
    --container-padding: 1rem 0;
    --title-size: 1.50rem;
    --subtitle-size: 1.25rem;
    --description-size: 1rem;

    /* *Netbook */
    --netbook-margin: 0 2.25rem;
    --netbook-container: 1.25rem 0;
    --netbook-title: 2rem;
    --netbook-subtitle: 1.5rem;
    --netbook-description: 1.2rem;

    /* *Desktop */
    --desktop-container: 1.5rem 0;
    --desktop-title: 3rem;
    --desktop-subtitle: 1rem;
    --desktop-description: 1.3rem;
}

/*? Menu */
/* Agregar menu flotante */
.header {
    background-color: transparent;
}

.header__logo-img {
    width: 70px;
    margin: var(--main-margin);
}

.header__menu {
    margin: var(--main-margin);
    /* !Terminar de implementar */
}

.header__menu-link {
    color: white;
    background-color: red;
    font-family: var(--title-typography);
    font-size: 15px;
}

.header__menu-link--budget {
    background: var(--main-background);
}

/*? Home */
.home {
    position: relative;
    overflow: hidden;
    background: linear-gradient(rgba(0, 0, 0, 0.358), rgba(0, 0, 0, 0.5)), linear-gradient(45deg, rgba(237, 30, 121, 0.6), rgba(110, 57, 233, 0.6)), url("../public/img/front-page.jpeg");
    background-size: cover;
    background-position: center;
}

.home__particles {
    position: absolute;
    inset: 0;
    z-index: 1;
    pointer-events: none;
}

.particle,
.profile__particle {
    position: absolute;
    width: 6px;
    height: 6px;
    background: #ed1e79;
    border-radius: 50%;
    filter: blur(1px);
    will-change: transform;
}

.particle:nth-child(odd) {
    opacity: 0.6;
}

.particle:nth-child(3n) {
    width: 10px;
    height: 10px;
}

.home__content {
    position: relative;
    z-index: 2;
    margin: var(--main-margin);
}

.home__title {
    text-align: center;
    font-size: var(--title-size);
    font-family: var(--title-typography);
    color: var(--color-primary);
}

.home__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home__text {
    background-color: #573997;
    border: #ffffff42 1px solid;
    border-radius: 10px;
    padding: 1rem;
    margin: var(--container-margin);
}

.home__description,
.home__span {
    text-align: center;
    font-size: var(--description-size);
    font-family: var(--description-typography);
    color: #ffffff;
}

.home__span {
    margin: 1rem 0 0 0;
    color: var(--color-primary);
}

.home__buttons {
    font-family: var(--subtitle-typography);
    font-size: var(--btn-size);
    display: flex;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
}

.home__budget,
.home__services {
    display: flex;
    align-items: center;
    gap: 0.3rem;
    border-radius: 10px;
    color: #ffffff;
    cursor: pointer;
    padding: 0.5rem;
}

.home__services {
    border: 1px solid #ffffff;
}

.home__services:hover {
    color: #ff007f;
    /* Color rosa neon */
    text-shadow: 0 0 10px #ff007f, 0 0 20px #ff007f, 0 0 30px white;
    /* Efecto fosforescente rosa y blanco */
    transition: all 0.3s ease;
    transform: scale(1.1);
    /* Efecto de zoom al pasar el mouse */
}

.home__icon--rotate{
    transition: transform 3s ease;
    /* Transición suave solo para el icono de services */
}

.home__services:hover .home__icon--rotate{
    transform: rotate(360deg);
    
}

.home__budget {
    background: linear-gradient(45deg, rgba(237, 30, 121, 0.8) 50%, rgba(110, 57, 233, 0.8));
    transition: transform 0.3s ease, background 0.3s ease, box-shadow 0.3s ease;
    /* Transición suave para zoom, fondo y sombra */
}

.home__budget:hover {
    background: linear-gradient(45deg, #ff007f 50%, #9932cc);
    /* Gradiente neon con rosa y púrpura brillantes */
    box-shadow: 0 0 10px #ff007f, 0 0 20px #ff007f, 0 0 30px #ff007f;
    /* Efecto fosforescente para resaltar el neon */
    transform: scale(1.1);
    /* Efecto de zoom al pasar el mouse */
}

.home__budget:hover .home__icon {
    transform: translateX(5px);
}

.home__icon{
    width: 1.2rem;
}

/* ?About */
.about {
    position: relative;
    overflow: hidden;
    background: var(--color-about-background);
}

.waves-bg {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

/* Efecto onda */
.wave {
    width: 100%;
    height: 100%;
    opacity: 0.8;
    filter: brightness(0.6);
}

.about__span {
    color: #7c3aed;
    font-weight: bold;
}

.about__content {
    position: relative;
    z-index: 1;
    margin: var(--main-margin);
}

.about__header,
.services__header {
    margin: 3rem 0 0 0;
}

.about__title,
.services__title {
    background: linear-gradient(90deg, #ED1E79, #6E39E9);
    /* Prefijo */
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    font-family: var(--title-typography);
    font-size: var(--title-size);
}

.about__description,
.services__description {
    text-align: center;
    font-family: var(--description-typography);
    font-size: var(--description-size);
    margin: var(--container-margin);
    color: var(--description-color);
    line-height: 1.6;
}

.about__cards,
.services__cards {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.about__card,
.about__profile,
.about__features,
.services__card {
    position: relative;
    background-color: var(--color-card-background);
    border: #ffffff42 1px solid;
    border-radius: 10px;
    padding: 1rem;
    overflow: hidden;
    transition: box-shadow 0.4s ease, transform 0.4s ease;
}

/* Degradado */
.about__card::before,
.about__profile::before,
.about__features::before,
.services__card::before {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(100deg,
            rgba(237, 30, 121, 0.8),
            rgba(110, 57, 233, 0.8));
    opacity: 0;
    transition: opacity 0.4s ease;
    z-index: 1;
}

/* Capa oscura */
.about__card::after,
.about__profile::after,
.about__features::after,
.services__card::after {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.082);
    opacity: 0;
    transition: opacity 0.4s ease;
    z-index: 2;
}

.about__card:hover::before,
.about__card:hover::after,
.about__profile:hover::before,
.about__features:hover::before,
.services__card:hover::before {
    opacity: 1;
}

.about__card:hover,
.about__profile:hover,
.about__features:hover,
.services__card:hover {
    box-shadow: 0 0 60px rgba(237, 30, 121, 0.5), 0 0 50px rgba(110, 57, 233, 0.4);
}

.about__title-card,
.about__icon-title,
.about__achievement-title,
.services__title-card {
    color: white;
    font-family: var(--subtitle-typography);
    font-weight: 300;
    font-size: var(--subtitle-size);
}

.about__card>*,
.about__profile>*,
.about__feature>*,
.services__card>* {
    position: relative;
    z-index: 3;
}

.about__description-card,
.about__icon-description,
.about__achievement-description,
.services__description-card,
.services__description-request {
    color: var(--description-color);
    font-family: var(--description-typography);
    font-size: 1rem;
    line-height: 1.6;
    margin: var(--container-margin);
}

.about__profile {
    position: relative;
    margin-top: 1rem;
    padding: 1rem 0 0 0;
}

.profile__particles {
    position: absolute;
    inset: 0;
    z-index: 1;
    pointer-events: none;
}

.profile__particle {
    transition: background-color 0.35s ease, box-shadow 0.35s ease, transform 0.35s ease;
}

.about__profile:hover .profile__particle {
    background-color: #282643c9;
}

.about__img {
    display: block;
    margin: auto;
    width: 60%;
    border-radius: 14px;
    z-index: 3;
    position: relative;
    filter: drop-shadow(0 25px 40px rgba(124, 58, 237, 0.35));
}

.about__name {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-family: var(--subtitle-typography);
    font-size: 2rem;
    font-weight: 900;
    z-index: 4;
    width: 100%;
    text-align: center;
    letter-spacing: 1px;
    text-shadow: 0 0 10px rgb(110, 57, 233);
}

.about__role {
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
    font-family: var(--description-typography);
    font-size: 0.9rem;
    font-weight: 500;
    color: white;
    text-shadow: rgb(237, 30, 121) 0px 0px 5px, rgb(237, 30, 121) 0px 0px 10px, rgb(237, 30, 121) 0px 0px 15px;
    z-index: 4;
    text-align: center;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    /*pone la letra en mayuscula  */
}

.about__features,
.about__achievement-card {
    margin-top: 1rem;
}

.about__feature {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.about__icon,
.services__icon-primary {
    background-color: #ed1e79;
    color: #ffffff;
    padding: 0.5rem;
    border-radius: 10px;
}

.about__achievement-icon-svg {
    color: #ed1e79;
    padding: 0.5rem;
    border-radius: 10px;
}

.about__icon-description {
    margin: 0;
}

.about__achievement-card {
    position: relative;
    border-radius: 10px;
    padding: 1rem;
    overflow: hidden;
    background:
        linear-gradient(#101828, #101828) padding-box,
        linear-gradient(45deg,
            rgba(237, 30, 121, 0.8) 50%,
            rgba(110, 57, 233, 0.8)) border-box;
    border: 1px solid transparent;
    transition: box-shadow 0.4s ease, transform 0.4s ease;
}

/* HOVER → EL BORDE SE CONVIERTE EN NEÓN */
.about__achievement-card:hover {
    box-shadow:
        0 0 12px rgba(237, 30, 121, 0.9),
        0 0 30px rgba(110, 57, 233, 0.9);
    transform: translateY(-6px);
}

.about__achievement-description {
    margin: 0;
}

/* Services */
.service {
    background: var(--color-about-background);
}

.services {
    position: relative;
    z-index: 1;
    padding: var(--main-padding);
}
.services__icons{
    display: flex;
    justify-content: space-between;
}

.services__icon-secondary {
    color: #383F4C;
    transition: opacity 0.4s ease, transform 0.4s ease;
}

.services__card:hover .services__icon-secondary {
    color: transparent; /* o usar opacity:0; para un efecto más suave */

}

.services__icon-primary {
    transition: transform 0.8s ease; 
}

.services__card:hover .services__icon-primary {
    transform: rotate(360deg); 
}
.services__btn {
    color: #ed1e79;
    display: flex;
    align-items: center;
}
.services__card:hover .services__btn {
    color: #5830b1;
}
.services__icon{
    width: 1rem;
    margin-left: 5px;
}
.services__card:hover .services__icon{
    transform: translateX(5px);
}
.services__request {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.services__description-request{
    text-align: center;
}
.services__btn-request {
    font-family: var(--subtitle-typography);
    font-size: var(--btn-size);
    border-radius: 10px;
    color: #ffffff;
    padding: 1rem;
    overflow: hidden;
    background:
        linear-gradient(#101828, #101828) padding-box,
        linear-gradient(45deg,
            rgba(237, 30, 121, 0.8) 50%,
            rgba(110, 57, 233, 0.8)) border-box;
    border: 1px solid transparent;
    box-shadow:
        0 0 12px rgba(237, 30, 120, 0.397),
        0 0 30px rgba(110, 57, 233, 0.397);
    transition: box-shadow 0.4s ease, transform 0.4s ease;
}

.services__btn-request:hover {
    box-shadow:
        0 0 12px rgba(237, 30, 121, 0.9),
        0 0 30px rgba(110, 57, 233, 0.9);
    transition: all 0.3s ease;
    transform: scale(1.1);
}
